#ombra1,
.img_shadow_1 {
    width: 200px;
    height: 50px;
    margin: 30px;
    border: 1px solid black;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
}

/*box shadow : orizzontale verticale sfocatura*/
.img_shadow_1 {
    background-image: url(img/img.png);
    background-size: 100%;
    background-repeat: no-repeat;
}



img {
    width: 300px;
    opacity: 50%;
}

img:hover {
    opacity: 100%;
}