
header {
    width: 1024px;
    border: 1px solid black;
    margin: 0 auto;
    /*margin 0 è asse y - auto è asse x*/
    padding: 2em;
    background-color: rgb(180, 180, 180);
    text-align: center;
    padding: 0;

}

header h1 {
    margin: 0;
    color: rgb(86, 0, 82);
}

nav {
    background-color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    
}
nav table {
    width: 100%;
    align-self: center;
    border-radius: 20px;

}
nav a {
    color: rgb(92, 0, 0); text-decoration: none;
}
nav a:hover {
    color: red;

} 
main {
    float: left;
    width: 85%;
    padding: 2%;
}

footer {
    width: 85%; 
    padding: 2%;
}


