@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Prata&display=swap');

#bodystyle{
    font-family: 'Montserrat', sans-serif;
    margin 0;
}
.main-section{
    padding 20px;
}
.image-container{
    height: 500px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://www.repstatic.it/content/localirep/img/rep-napoli/2021/05/17/221049797-130a4a73-bf47-403a-ae46-f31758507cd4.jpg);
}
.p1{
    font-weight: 600;
    font-style:oblique;
}
h1{
    font-family: 'Prata', serif;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 0px;
}
h3{
    font-family: 'Prata', serif;
    font-size: 24px;
    font-weight:400;
    margin-top: 0px;
    margin-bottom: 0px;
}
h6{
    color: white;
    padding: 22px;
    margin-bottom: 0px;
    margin-top: 56px;
    border-radius: 6px;
    background: linear-gradient(45deg, rgb(71, 84, 99),rgb(106, 172, 86), rgba(28, 144, 179, 0.994));
    
}
ul{
    padding: 0px;
    list-style-type: none;
}
li{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-bottom: 1px #dfdfdf;
}
a:link{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(176, 0, 0);
    text-decoration: none;
}
a:visited{
    color: rgb(23, 14, 86);
    text-decoration: none;
}
