/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2rem;
}
div#testoAlternato {
  width: 1000px;
  border: 2px solid black;
}
p {
  padding: 2rem;
  line-height: 30px;
}

span {
  padding: 2rem;
  color: darkred;
}
i {
  position: absolute;
  opacity: 0;
}
.parole i:nth-child(1) {
  animation: slideShow 4s linear infinite;
}
.parole i:nth-child(2) {
  animation: slideShow 4s linear infinite;
  animation-delay: 1.33s;
}
.parole i:nth-child(3) {
  animation: slideShow 4s linear infinite;
  animation-delay: 2.65s;
}
@keyframes slideShow {
  0% {
    font-size: 5px;
    opacity: 0;
    transform: translateY(-40px);
  }
  25% {
    font-size: 10px;
    opacity: 0.5;
    transform: translateY(-20px);
  }
  50% {
    font-size: 20px;
    opacity: 1;
    transform: translateY(0px);
  }
  75% {
    font-size: 10px;
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    font-size: 5px;
    opacity: 0;
    transform: translateY(40px);
  }
}
